# Environment variables
.env
.env.local
.env.*.local

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/
.next/
tsconfig.tsbuildinfo

ControlEngine/scrapers/utils/cookies.json
ControlEngine/scrapers/fp_bundle/downloads/
ControlEngine/scrapers/cookies.json
ControlEngine/scrapers/utils/fp_session_state.json
ControlEngine/scrapers/config/login_master.json
ControlEngine/scrapers/.env
